APP_NAME=MiangPay
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=miangpay
DB_USERNAME=postgres
DB_PASSWORD=ludovic

CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

PAYMENT_GATEWAY=fake
PAWAPAY_BASE_URL=https://api.pawapay.io/v3
PAWAPAY_API_KEY=
PAWAPAY_SECRET=
PAWAPAY_MERCHANT_ID=
